################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WhiskyInventoryApp/WhiskyInventory.Data/obj
/WhiskyInventoryApp/WhiskyInventory.Data/bin/Debug/netcoreapp2.0
/WhiskyInventoryApp/WhiskyInventory.Api/bin/Debug/netcoreapp2.0
/WhiskyInventoryApp/WhiskyInventory.Api/obj
/WhiskyInventoryApp/WhiskyInventory.Business/bin/Debug/netcoreapp2.0
/WhiskyInventoryApp/WhiskyInventory.Business/obj
/WhiskyInventoryApp/.vs/WhiskyInventoryApp/v15
