################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WhiskyInventoryApp/WhiskyInventory.Data/obj
